html,
body {
    height: 100%;
    background-color: #101010;
}

#main {
    width: 900px;
    margin: 0 auto;
}

.box {
    position: relative;
    z-index: 1;
    float: left;
    height: 100px;
    width: 100px;
    background-color: #444;
}